body {
    text-align: center;
    background-color: rgba(189, 18, 18, 0.733);
}
.capa {
    width: 80%;
}

.beneficios {
    text-align: left;
    background-color: rgba(255, 0, 55, 0.322);
}
ul{
    display: inline-block;
    vertical-align: top;
    margin-right: 200px;
}
li {
    padding: 25px;
    font-size: 20px;
}
.foto-beneficios {
    width: 40%;
}